
<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>Personal Website</title>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	
    <!--style-->
	<style>
		body{
			font-family:poppins;
		}
	</style>
	
</head>

<body>

<section>
	<!--navigation-->
	<nav>
	
    <!--logo-->
	<a href="#" class="logo">G T Internet</a>
	
    <!--menu-->
	<ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Team</a></li>
	</ul>
	
    <!--bars-->
	<div class="toggle"></div>
	
	</nav>
  </section>

    <!--text-->
		<div class="text-container">
			<p>Hi,</p>
		    <p>I&#8217;M Pauline</p>
			<p>Freelancing and <br>&Backend Devolper</p>
			<button class="hire-btn">Hire me</button>
			<button class="down-cv">Download CV</button>
		</div>
	<!--model-->
	<img alt="model" class="model" src="images/model.png">  
  


</body>
</html>